{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
<div class="jumbotron">
<h1>Ion-channel inhibitor search</h1>
<p>
    This website allows searching for chemicals and other
    biological entities that are known to negatively regulate
    a given set of ion channels but are not known to negatively regulate
    (or are known not to regulate) another set of ion channels.
</p>

</div>
</div>


<div class="container">
<style>
.form-control {
    width: 90%;
}
.btn {
    margin: 5px;
}
</style>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Choices multiselect library: https://github.com/jshjohnson/Choices -->
    <!-- Include Choices CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <!-- Include Choices JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <script>
    $(document).ready(function() {
      // see https://github.com/jshjohnson/Choices
      const inhibitSelect = new Choices('#inhibit-select');
      const notInhibitSelect = new Choices('#not-inhibit-select');

      // Add values used to get result
      let oldInhibits = {{ old_inhibits_list|safe }};
      let oldNotInhibits = {{ old_not_inhibits_list|safe }};

      // https://github.com/jshjohnson/Choices#setchoicebyvaluevalue
      if (oldInhibits) {
        inhibitSelect.setChoiceByValue(oldInhibits);
      }
      if (oldNotInhibits) {
        notInhibitSelect.setChoiceByValue(oldNotInhibits);
      }
    })
    </script>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" align="left" pad="10px">
            <div id="channel-search-panel" class="panel panel-default">
                <h2>
                    Find all compounds that are reported to
                </h2>
                <form class="form" method="post" action='channel_search' role="form">
                {{ wtf.form_field(channel_search_form.inhibits, class_="form-control") }}
                {{ wtf.form_field(channel_search_form.not_inhibits, class_="form-control") }}
                {{ wtf.form_field(channel_search_form.submit_button, class="btn btn-primary") }}
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="container">
            <h3>Results</h3>
              {% if response_list %}
                <table class="table table-striped">
                <thead>
                  <td>Name</td>
                  <td>Links</td>
                </thead>
                {% for agent, links in response_list %}
                  <tr>
                      <td>{{ agent }}</td>
                      <td>
                        {% for ns, url in links %}
                        <a href="{{ url }}" target="_blank">{{ ns }}</a>
                        {% endfor %}
                    </td>
                  </tr>
                {% endfor %}
                </table>
              {% else %}
                <p>Your results will show up here</p>
              {% endif %}
        </div>
    </div>
</div>
<div class="container">
<div class="well">
<p class="lead">
The development of this system was funded under the DARPA Panacea program
    (HR00111920022) by the <a href="http://indralab.github.io">INDRA team</a>
    in the <a href="http://hits.harvard.edu">Laboratory of Systems Pharmacology</a>
    at Harvard Medical School.
</p>
<p class="lead">
Point of contact: Benjamin M. Gyori (benjamin_gyori [AT] hms.harvard.edu)
</p>
</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
